/* Custom Stylesheet */
/**
 * Made By MaterializeCSS.com
 */
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }



td, th {
  padding: 6px 8px;
}

tr:nth-child(even) {background: #e2e6e9}
tr:nth-child(odd) {background: #FFF}

a {
  outline: none;
}

.score tbody > tr:nth-child(n):nth-child(odd):nth-child(-n+9) {background: #69f0ae}
.score tbody > tr:nth-child(n+1):nth-child(even):nth-child(-n+9) {background: #00e676}

.material-icons {
  font-size: 18px;
}

.light a {
  color : black;
}

/* D3 stuff  */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

#profiles {
  float: left;
  margin-right: 5%;
}

#profiles{
  font-weight: bold;
  text-transform: capitalize;
  list-style: none;
  text-align: left;
  text-justify: inter-word;
}



#profiles span {
  font-weight: bold;
  text-align: right;
  color: rgb(251, 140, 0);
}

.floating-box {
    display: inline-block;
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(251, 140, 0);  
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
