/* Custom Stylesheet */
/**
 * Made By MaterializeCSS.com
 */
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 


td, th {
  padding: 6px 8px;
}

tr:nth-child(even) {background: #e2e6e9}
tr:nth-child(odd) {background: #FFF}

a {
  outline: none;
}

.score tbody > tr:nth-child(n):nth-child(odd):nth-child(-n+9) {background: #69f0ae}
.score tbody > tr:nth-child(n+1):nth-child(even):nth-child(-n+9) {background: #00e676}

.material-icons {
  font-size: 18px;
}

.light a {
  color : black;
}

/* D3 stuff  */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

#profiles{
  float: left;
  margin-right: 5%;
  width: 20%;
}

#profiles li{
  font-weight: bold;
  text-transform: capitalize;
  list-style: none; 
}

#profiles li:hover{
  font-weight: bold;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.40);
}


#profiles span{
  font-weight: bold;
  float: right;
  color: red;
}


#graphics{
  float: left;
  width: 60%;
}
